<<<<<<< HEAD
﻿@model List<Employee>
@{
	ViewData["Title"] = "Show Employees";
}
<a asp-action="New" asp-controller="Employee" class="text-info text-decoration-underline">Add New Employee</a>
<table class="table-bordered table-active table-striped table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Full Name</th>
			<th>Phone Number</th>
			<th>Email</th>
			<th>Gender</th>
			<th>Employee Role</th>
			<th>Hiring Date</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		@foreach (Employee e in Model)
		{

			<tr>
				<td>@e.ID</td>
				<td>@e.FName @e.LName</td>
				<td>@e.PhoneNumber</td>
				<td>@e.Email</td>
				<td>@e.Gender</td>
				<td>@e.EmployeeRole</td>
				<td>@e.HiringDate</td>

				@* <td>
			<a asp-action="Edit" asp-controller="User" asp-route-id="@u.ID">Edit</a>
			</td> *@
				<td>
					<a asp-action="Delete" asp-controller="Employee" asp-route-id="@e.ID">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
=======
﻿@model List<Employee>
@{
	ViewData["Title"] = "Show Employees";
}
<a asp-action="New" asp-controller="Employee" class="text-info text-decoration-underline">Add New Employee</a>
<table class="table-bordered table-active table-striped table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Full Name</th>
			<th>Phone Number</th>
			<th>Email</th>
			<th>Gender</th>
			<th>Employee Role</th>
			<th>Hiring Date</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		@foreach (Employee e in Model)
		{

			<tr>
				<td>@e.ID</td>
				<td>@e.FName @e.LName</td>
				<td>@e.PhoneNumber</td>
				<td>@e.Email</td>
				<td>@e.Gender</td>
				<td>@e.EmployeeRole</td>
				<td>@e.HiringDate</td>

				@* <td>
			<a asp-action="Edit" asp-controller="User" asp-route-id="@u.ID">Edit</a>
			</td> *@
				<td>
					<a asp-action="Delete" asp-controller="Employee" asp-route-id="@e.ID">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
>>>>>>> e14596fa2815c3abeeab24a806a31c2f1350cfcd
