@model List<User>
@{
	ViewData["Title"] = "Show Users";
}
<a asp-action="New" asp-controller="User" class="text-info text-decoration-underline">Add New User</a>
<table class="table-bordered table-active table-striped table">
	<thead>
	<tr>
		<th>ID</th>
		<th>Full Name</th>
		<th>Username</th>
		<th>Email</th>
		<th>Phone Number</th>
		<th>Delete</th>
	</tr>
	</thead>
	<tbody>
    @foreach(User u in Model)
    {

	<tr>
		<td>@u.ID</td>
		<td>@u.FName @u.LName</td>
		<td>@u.Username</td>
		<td>@u.Email</td>
		<td>@u.PhoneNumber</td>
		@* <td>
			<a asp-action="Edit" asp-controller="User" asp-route-id="@u.ID">Edit</a>
		</td> *@
		<td>
			<a asp-action="Delete" asp-controller="User" asp-route-id="@u.ID">Delete</a>
		</td>
	</tr>
	}
	</tbody>
</table>